

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }
              </style>
        
        <body>

            Отчет активности за день по работам на сетевом оборудовании. 2020-09-13 23:20:51.144011

            
            <table border="1" bgcolor=wheat style="color:darkblue">


            <caption bgcolor="red">Всего выполнено 0 команд (Все команды/команды 'show')</caption>
             <thead>  
            <tr>
            <th bgcolor="#33FF99">ФИО </th>
            <th bgcolor="#33FF99">8-9ч</th>
            <th bgcolor="#33FF99">9-10ч</th>
            <th bgcolor="#33FF99">10-11ч</th>
            <th bgcolor="#33FF99">11-12ч</th>
            <th bgcolor="#33FF99">12-13ч</th>
            <th bgcolor="#33FF99">13-14ч</th>
            <th bgcolor="#33FF99">14-15ч</th>
            <th bgcolor="#33FF99">15-16ч</th>
            <th bgcolor="#33FF99">16-17ч</th>
            <th bgcolor="#33FF99">17-18ч</th>
            <th bgcolor="#33FF99">18-19ч</th>
            <th bgcolor="#33FF99">19-20ч</th>
            <th bgcolor="#33FF99">20-21ч</th>
            <th bgcolor="#33FF99">21-22ч</th>
            <th bgcolor="#33FF99">22-23ч</th>
            <th bgcolor="#33FF99">23-24ч</th>
            <th bgcolor="#33FF99">Итого</th>
            </tr>
             </thead>



        
             <tr>

             <td> mestcheryakov </td>
          
            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            


            
           </tr>
        
             <tr>

             <td> mikheev </td>
          
            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            


            
           </tr>
        
             <tr>

             <td> berezkin </td>
          
            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            
                          
                            <td>
                            0/0
                            </td>


            


            
           </tr>
        

             </table>
             

        </body> 
    </html> 
    