

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }
                #blink {
                        -webkit-animation: blink 2s linear infinite; 
                        animation: blink 2s linear infinite; 
                        font-weight: bold; 
                        color: color: #F00; 
                }

                @-webkit-keyframes blink { 
                        0% { color: #F00; }
                        50% { color: #FBB; }
                        100% { color: #F00; }
                }

                @keyframes blink {  
                        0% { color: #F00; }
                        50% { color: #FBB; }
                        100% { color: #F00; } 
                }                
              </style>
        
        <body>



        <br><br>

        
      
        <p align="center">Отчет активности за день по задачам JIRA отдела ДИТ-ЦЭИТИ-УТ-ОСИ. Дата 2020-09-01 13:33:35.428951</p>
        
       
        <table border="1" bgcolor=wheat>
        <caption bgcolor="red">Всего назначено на отдел но не распределено на сотрудников 1 задач</caption>
         <thead>  
        <tr>
        <th bgcolor="#ADDAF5">Назначены на сотрудника</th>
        <th bgcolor="#ADDAF5">Тип задач</th>
        <th bgcolor="#ADDAF5">Назначено задач</th>
        <th bgcolor="#ADDAF5">Взяты в работу</th>
        <th bgcolor="#ADDAF5">Сегодня Выполнены</th>
        <th bgcolor="#ADDAF5">Комментариев в задачах за сегодня</th>
        <th bgcolor="#ADDAF5">Задачи назначенные</th>
        <th bgcolor="#ADDAF5">Задачи в работе</th>
        <th bgcolor="#ADDAF5">Задачи Выполненные</th>
        <th bgcolor="#ADDAF5">Активности в задачах за сегодня</th>
        </tr>
         </thead>

        

        
          <tr>
           
           
         
           <td><font color="blue">"Мещеряков Сергей Сергеевич" </font> </td>
           <td><font color="blue">Ошибка </font></td>
              
          
          
            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-69985">                            
                                <font color=c77b00>SD-69985, </font>
                                </a>                                

                             

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-69985">                            
                                <font color=c77b00>SD-69985, </font>
                                </a>                                

                             

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-69985">                            
                                <font color=c77b00>SD-69985, </font>
                                </a>                                

                             

                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Мещеряков Сергей Сергеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">21 </font></td>        
                




            



                
                <td><font color="blue">8 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-69655">                            
                                <font color="blue">SD-69655, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-69317">                             
                                <font color=cc1b00>SD-69317, </font>
                                </a>
                                
                             

                   

                            
                               <a href="http://jira-new/browse/SD-63581">                            
                                <font color="blue">SD-63581, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-62992">                            
                                <font color="blue">SD-62992, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-61980">                            
                                <font color="blue">SD-61980, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-60740">                            
                                <font color=c77b00>SD-60740, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-53709">                            
                                <font color="blue">SD-53709, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-51764">                             
                                <font color=cc1b00>SD-51764, </font>
                                </a>
                                
                             

                   

                            
                               <a href="http://jira-new/browse/SD-49426">                            
                                <font color="blue">SD-49426, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-44782">                            
                                <font color="blue">SD-44782, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42223">                            
                                <font color="blue">SD-42223, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42120">                            
                                <font color="blue">SD-42120, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42033">                            
                                <font color="blue">SD-42033, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42030">                            
                                <font color="blue">SD-42030, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42029">                            
                                <font color="blue">SD-42029, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38307">                            
                                <font color="blue">SD-38307, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38306">                            
                                <font color="blue">SD-38306, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-36992">                            
                                <font color="blue">SD-36992, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-36957">                            
                                <font color=c77b00>SD-36957, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-24166">                            
                                <font color="blue">SD-24166, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23511">                            
                                <font color="blue">SD-23511, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-62992">                             
                                <font color="blue">SD-62992, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42033">                             
                                <font color="blue">SD-42033, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42030">                             
                                <font color="blue">SD-42030, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42029">                             
                                <font color="blue">SD-42029, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38307">                             
                                <font color="blue">SD-38307, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38306">                             
                                <font color="blue">SD-38306, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-24166">                             
                                <font color="blue">SD-24166, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23511">                             
                                <font color="blue">SD-23511, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-70116">                             
                                <font color="blue">SD-70116, </font>
                                </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-70116">                             
                                <font color="blue">SD-70116, </font>
                                </a>
                            

                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Берёзкин Денис Валерьевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">9 </font></td>        
                




            



                
                <td><font color="blue">6 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-54500">                            
                                <font color="blue">SD-54500, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-53281">                            
                                <font color="blue">SD-53281, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-47354">                            
                                <font color="blue">SD-47354, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-46893">                            
                                <font color="blue">SD-46893, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42032">                            
                                <font color="blue">SD-42032, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42027">                            
                                <font color="blue">SD-42027, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-40856">                            
                                <font color="blue">SD-40856, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37038">                            
                                <font color=c77b00>SD-37038, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-35773">                            
                                <font color="blue">SD-35773, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-54500">                             
                                <font color="blue">SD-54500, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-47354">                             
                                <font color="blue">SD-47354, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42027">                             
                                <font color="blue">SD-42027, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-40856">                             
                                <font color="blue">SD-40856, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37038">                             
                                <font color=c77b00>SD-37038, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-35773">                             
                                <font color="blue">SD-35773, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Беляев Вадим Олегович" </font> </td>
           <td><font color="blue">Ошибка </font></td>
              
          
          
            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-70463">                             
                                <font color=ff3d00 id="blink"> SD-70463, </font>
                                </a>                                           
                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Беляев Вадим Олегович" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">7 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-58387">                            
                                <font color=c77b00>SD-58387, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-52201">
                                 <font  color="green">SD-52201 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-48417">                            
                                <font color=c77b00>SD-48417, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-42871">                            
                                <font color="blue">SD-42871, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-30259">                            
                                <font color="blue">SD-30259, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23350">                            
                                <font color=c77b00>SD-23350, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-19822">                            
                                <font color=c77b00>SD-19822, </font>
                                </a>                                

                             

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

         
                
        
         </table>
         
        <br>
        <br>
        
        

        
        </body> 
    </html> 
    