

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }
              </style>
        
        <body>



        <br><br>

        
      
        <p align="center">Отчет активности за день по задачам JIRA отдела ДИТ-ЦЭИТИ-УТ-ОСИ. Дата 2020-08-25 16:58:30.892818</p>
        
       
        <table border="1">
        <caption bgcolor="red">Всего назначено на отдел но не распределено на сотрудников 1 задач</caption>
         <thead>  
        <tr>
        <th bgcolor="#ADDAF5">Назначены на сотрудника</th>
        <th bgcolor="#ADDAF5">Тип задач</th>
        <th bgcolor="#ADDAF5">Назначено задач</th>
        <th bgcolor="#ADDAF5">Взяты в работу</th>
        <th bgcolor="#ADDAF5">Сегодня Выполнены</th>
        <th bgcolor="#ADDAF5">Комментариев в задачах за сегодня</th>
        <th bgcolor="#ADDAF5">Задачи назначенные</th>
        <th bgcolor="#ADDAF5">Задачи в работе</th>
        <th bgcolor="#ADDAF5">Задачи Выполненные</th>
        <th bgcolor="#ADDAF5">Активности в задачах за сегодня</th>
        </tr>
         </thead>

        

         
                
        
         </table>
         
        <br>
        <br>
        
        

        
        </body> 
    </html> 
    