

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }
              </style>
        
        <body>

        <br><br>



        
      
        <p align="center">Отчет активности за день по задачам JIRA отдела ДИТ-ЦЭИТИ-УТ-ОТ. Дата 2020-09-14 17:07:30.328688</p>
        
       
        <table border="1" bgcolor=wheat>
        <caption bgcolor="red">Всего назначено на отдел но не распределено на сотрудников 1 задач</caption>
         <thead>  
        <tr>
        <th bgcolor="#ADDAF5">Назначены на сотрудника</th>
        <th bgcolor="#ADDAF5">Тип задач</th>
        <th bgcolor="#ADDAF5">Назначено задач</th>
        <th bgcolor="#ADDAF5">Взяты в работу</th>
        <th bgcolor="#ADDAF5">Сегодня Выполнены</th>
        <th bgcolor="#ADDAF5">Комментариев в задачах за сегодня</th>
        <th bgcolor="#ADDAF5">Задачи назначенные</th>
        <th bgcolor="#ADDAF5">Задачи в работе</th>
        <th bgcolor="#ADDAF5">Задачи Выполненные</th>
        <th bgcolor="#ADDAF5">Активности в задачах за сегодня</th>
        </tr>
         </thead>

        

        
          <tr>
           
           
         
           <td><font color="blue">"Колодин Борис Тимофеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">7 </font></td>        
                




            



                
                <td><font color="blue">4 </font></td>        
                




            



                
                <td><font color="blue">8 </font></td>        
                




            



                
                <td><font color="blue">17 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-71964">
                                 <font  color="green">SD-71964 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-61711">                            
                                <font color="blue">SD-61711, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-57764">                            
                                <font color="blue">SD-57764, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-45158">
                                 <font  color="green">SD-45158 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-38345">
                                 <font  color="green">SD-38345 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-31504">                            
                                <font color="blue">SD-31504, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-31397">                            
                                <font color="blue">SD-31397, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-71964">                             
                               <font color="green">SD-71964, </font>
                                </a>                               
                            

                   

                            
                               <a href="http://jira-new/browse/SD-61711">                             
                                <font color="blue">SD-61711, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-45158">                             
                               <font color="green">SD-45158, </font>
                                </a>                               
                            

                   

                            
                               <a href="http://jira-new/browse/SD-31504">                             
                                <font color="blue">SD-31504, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73839">                             
                                <font color="blue">SD-73839, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73820">                             
                                <font color="blue">SD-73820, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73747">                             
                                <font color="blue">SD-73747, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73711">                             
                                <font color="blue">SD-73711, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73708">                             
                                <font color=c77b00>SD-73708, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-73660">                             
                                <font color="blue">SD-73660, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-67810">                             
                                <font color="blue">SD-67810, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-65020">                             
                                <font color="blue">SD-65020, </font>
                                </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73839">                            
                                <font color="brown">SD-73839, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73820">                            
                                <font color="brown">SD-73820, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73747">                            
                                <font color="brown">SD-73747, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73711">                            
                                <font color="brown">SD-73711, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73708">                            
                                <font color="brown">SD-73708, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73538">                            
                                <font color="brown">SD-73538, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73134">                            
                                <font color="brown">SD-73134, </font>
                                </a>                                
                            

                   

                            
                               <a href="http://jira-new/browse/SD-67810">                            
                                <font color="brown">SD-67810, </font>
                                </a>                                
                            

                   
                   </td>


                   
                  




            

        </tr>

        
           <td><font color="blue">"Колодин Борис Тимофеевич" </font> </td>
           <td><font color="blue">Подзадача </font></td>
              
          
          
            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-68242">                            
                                <font color="blue">SD-68242, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-33580">                             
                                <font color="blue">SD-33580, </font>
                                </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-33580">                             
                                <font color="blue">SD-33580, </font>
                                </a>
                            

                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Колодин Борис Тимофеевич" </font> </td>
           <td><font color="blue">Ошибка </font></td>
              
          
          
            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-57814">
                                 <font  color="green">SD-57814 </font>
                               </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-57814">
                                 <font  color="green">SD-57814 </font>
                               </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Ермаков Евгений Сергеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">4 </font></td>        
                




            



                
                <td><font color="blue">4 </font></td>        
                




            



                
                <td><font color="blue">3 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-65474">                            
                                <font color="blue">SD-65474, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-65473">                            
                                <font color="blue">SD-65473, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-65471">                            
                                <font color="blue">SD-65471, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-63584">                            
                                <font color="blue">SD-63584, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-65474">                            
                                <font color="blue">SD-65474, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-65473">                            
                                <font color="blue">SD-65473, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-65471">                            
                                <font color="blue">SD-65471, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-63584">                            
                                <font color="blue">SD-63584, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73452">                             
                                <font color="blue">SD-73452, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73236">                             
                                <font color="blue">SD-73236, </font>
                                </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-65020">                             
                                <font color="blue">SD-65020, </font>
                                </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                   
                  




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

         
                
        
         </table>
         
        <br>
        <br>
        
        

        
        </body> 
    </html> 
    