

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }

                #blink {
                        -webkit-animation: blink 2s linear infinite; 
                        animation: blink 2s linear infinite; 
                        font-weight: bold; 
                        color: color: #F00; 
                }

                @-webkit-keyframes blink { 
                        0% { color: #F00; }
                        50% { color: #FBB; }
                        100% { color: #F00; }
                }

                @keyframes blink {  
                        0% { color: #F00; }
                        50% { color: #FBB; }
                        100% { color: #F00; } 
                }                                
              </style>
        
        <body>

        <br><br>



        
      
        <p align="center">Отчет активности за день по задачам JIRA отдела ДИТ-ЦЭИТИ-УТ-ОСИ. Дата 2020-09-14 17:02:55.811795</p>
        
       
        <table border="1" bgcolor=wheat border-width="double" width=95% align="center" style="border-color:black; border-style:double; font-size:12px; font-family : Arial " >
        <caption bgcolor="red">Всего назначено на отдел но не распределено на сотрудников 1 задач</caption>
         <thead>  
        <tr align="center">
        <th bgcolor="#ADDAF5">Назначены на сотрудника</th>
        <th bgcolor="#ADDAF5">Тип задач</th>
        <th bgcolor="#ADDAF5">Назначено задач</th>
        <th bgcolor="#ADDAF5">Взяты в работу</th>
        <th bgcolor="#ADDAF5">Сегодня Выполнены</th>
        <th bgcolor="#ADDAF5">Комментариев в задачах за сегодня</th>
        <th bgcolor="#ADDAF5">Задачи назначенные</th>
        <th bgcolor="#ADDAF5">Задачи в работе</th>
        <th bgcolor="#ADDAF5">Задачи Выполненные</th>
        <th bgcolor="#ADDAF5">Активности в задачах за сегодня</th>
        </tr>
         </thead>

        

        
          <tr>
           
           
         
           <td><font color="blue">"Мещеряков Сергей Сергеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">24 </font></td>        
                




            



                
                <td><font color="blue">12 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73887">                            
                                <font color="blue">SD-73887, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-73541">                            
                                <font color="blue">SD-73541, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-73165">                            
                                <font color="blue">SD-73165, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72768">                            
                                <font color="blue">SD-72768, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-62992">                            
                                <font color="blue">SD-62992, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-61980">                            
                                <font color="blue">SD-61980, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-60740">                            
                                <font color=c77b00>SD-60740, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-53709">                            
                                <font color="blue">SD-53709, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-51764">                             
                                <font color=cc1b00>SD-51764, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-49571">                            
                                <font color="blue">SD-49571, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-49426">                            
                                <font color="blue">SD-49426, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-44782">                            
                                <font color="blue">SD-44782, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42512">                            
                                <font color="blue">SD-42512, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42120">                            
                                <font color="blue">SD-42120, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42033">                            
                                <font color="blue">SD-42033, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42030">                            
                                <font color="blue">SD-42030, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42029">                            
                                <font color="blue">SD-42029, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42025">                            
                                <font color="blue">SD-42025, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38307">                            
                                <font color="blue">SD-38307, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38306">                            
                                <font color="blue">SD-38306, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-36992">                            
                                <font color="blue">SD-36992, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-36957">                            
                                <font color=c77b00>SD-36957, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-24166">                            
                                <font color="blue">SD-24166, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23511">                            
                                <font color="blue">SD-23511, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73165">                             
                                <font color="blue">SD-73165, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-62992">                             
                                <font color="blue">SD-62992, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-49571">                             
                                <font color="blue">SD-49571, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42512">                             
                                <font color="blue">SD-42512, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42033">                             
                                <font color="blue">SD-42033, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42030">                             
                                <font color="blue">SD-42030, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42029">                             
                                <font color="blue">SD-42029, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42025">                             
                                <font color="blue">SD-42025, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38307">                             
                                <font color="blue">SD-38307, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38306">                             
                                <font color="blue">SD-38306, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-24166">                             
                                <font color="blue">SD-24166, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23511">                             
                                <font color="blue">SD-23511, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73538">                            
                                <font color="brown">SD-73538, </font>
                                </a>                                
                            

                   
                   </td>


                   
                  




            

        </tr>

        
           <td><font color="blue">"Мещеряков Сергей Сергеевич" </font> </td>
           <td><font color="blue">Подзадача </font></td>
              
          
          
            



                
                <td><font color="blue">3 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73799">                            
                                <font color="blue">SD-73799, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-73194">                            
                                <font color="blue">SD-73194, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-71040">                            
                                <font color="blue">SD-71040, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73912">                            
                                <font color="brown">SD-73912, </font>
                                </a>                                
                            

                   
                   </td>


                   
                  




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Берёзкин Денис Валерьевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">10 </font></td>        
                




            



                
                <td><font color="blue">7 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73888">                            
                                <font color="blue">SD-73888, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-73824">                            
                                <font color=c77b00>SD-73824, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-73543">                            
                                <font color="blue">SD-73543, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72659">                            
                                <font color="blue">SD-72659, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-70644">                            
                                <font color="blue">SD-70644, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-54500">                            
                                <font color="blue">SD-54500, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-47354">                            
                                <font color="blue">SD-47354, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-40856">                            
                                <font color="blue">SD-40856, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37038">                            
                                <font color=c77b00>SD-37038, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-35596">                            
                                <font color="blue">SD-35596, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73888">                             
                                <font color="blue">SD-73888, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72659">                             
                                <font color="blue">SD-72659, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-54500">                             
                                <font color="blue">SD-54500, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-47354">                             
                                <font color="blue">SD-47354, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-40856">                             
                                <font color="blue">SD-40856, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37038">                             
                                <font color=c77b00>SD-37038, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-35596">                             
                                <font color="blue">SD-35596, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73752">                             
                                <font color="blue">SD-73752, </font>
                                </a>
                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                   
                  




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

         
                
        
         </table>
         
        <br>
        <br>
        
        

        
        </body> 
    </html> 
    